td {
    height: 50px;
    width: 50px;
    background-color: blue; 
    text-align: center;
    font-size: 200%;
}

table {
    empty-cells: show;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

body {
    text-align: center;
    background-color: aquamarine;
}

#trenutni {
    margin-right: 50px;
}

#rezultati {
    margin-top: 30px;
    color: rgb(5, 5, 65);
    font-size: large;
    font-weight: bold;
}
